//@file common style
@import './variables.styl';

* {
    box-sizing: border-box
    font-family: 'Microsoft YaHei','sans-serif';
}
h1,h2,h3,h4,h5,h6,ul,li,p {
    margin: 0
    padding: 0
}
ul,li {
    list-style: none
}
a {
    text-decoration: none;
}
.container {
    width: $conainterWidth
    margin: 0 auto
}

.clearfix {
  &:before, &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.theme-font {
    color $themeColor
}
